/* src/ForgotPassword.css */
body {
  background-color: #0f172a;
  font-family: "Poppins", sans-serif;
}

.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-box {
  background-color: #1e293b;
  color: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
}

.forgot-box input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 6px;
  background-color: #334155;
  border: none;
  color: white;
}

.forgot-box input::placeholder {
  color: #94a3b8;
}

.submit-btn {
  width: 100%;
  background-color: #3b82f6;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #2563eb;
}

.back-text {
  margin-top: 15px;
  color: #38bdf8;
  cursor: pointer;
}
