/* src/LoginForm.css */
body {
  background-color: #0f172a;
  font-family: "Poppins", sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #1e293b;
  color: #fff;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.login-box h2 {
  margin-bottom: 8px;
}

.login-box p {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  background-color: #334155;
  color: white;
}

.login-box input::placeholder {
  color: #94a3b8;
}

.forgot-password {
  display: block;
  text-align: left;
  margin: 10px 0;
  color: #3b82f6;
  font-size: 0.9em;
}

.login-btn {
  width: 100%;
  background-color: #10b981;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background-color: #059669;
}

.toggle-text {
  margin: 15px 0;
}

.toggle-link {
  color: #3b82f6;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  color: #94a3b8;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #334155;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-btn,
.facebook-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #334155;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.google-btn img,
.facebook-btn img {
  width: 20px;
  height: 20px;
}
