@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  /* Animation tít tít khi còn 10 giây */
  @keyframes blink-warning {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.05);
    }
  }
  
  .animate-blink-warning {
    animation: blink-warning 0.5s ease-in-out infinite;
  }
}